.container {
  .btn {
    padding: 16px 24px;
    color: white;
    background: linear-gradient(
      151.21deg,
      #a58038 9.17%,
      #ffcb7b 56.12%,
      #a58038 103.08%
    );
    border-radius: 12px;
  }
}
