body {
  font-family: "Montserrat", sans-serif;
}


.btn {
  padding: 16px 24px;
  color: white;
  background: linear-gradient(
    151.21deg,
    #a58038 9.17%,
    #ffcb7b 56.12%,
    #a58038 103.08%
  );
  border-radius: 12px;
}

.block1 {
  background: linear-gradient(
    112.92deg,
    rgba(255, 255, 255, 0.36) 10.45%,
    rgba(255, 255, 255, 0.09) 88.73%
  );
  box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 24px;
}


